<div class='container-footer'>
	<div class="container">
		<div class="row">
			<div class="col">
			</div>

			<div class="col text-center">
				<p class="text-white">¿Contacto? Escríbenos a</p>
				<p class="text-red">2 2696 47 69 / 2 3225 29 48 <span class="text-white">DELIVERY</span></p>
				<p class="text-white">¿Quieres trabajar con nosotros? Escríbenos a</p>
				<p class="text-red">CV@niusushi.cl</p>
			</div>

			<div class="col text-right">
				
			</div>
		</div>
	</div>
</div>