<style type="text/css">

.menu-category, .menu-category ul{
	margin: 0;
	padding: 0;
	text-align: left;
}

.menu-category{
	position: fixed;
}

.menu-category .title{
	color: #FFF;
	margin-bottom: 30px;
}

.menu-category ul {

}
	
.menu-category ul li{
	list-style: none;
	padding: 8px 0;
	opacity: .7;
}

.menu-category ul li a{
	color: #FFF;
	text-decoration: none
}

.menu-category ul li a:hover{
	color: #ff0b0f;
}

.menu-category ul li a:active{
	border-left: 2px solid #ff0b0f;
	padding-left: 10px;
}


</style>

<div class='hidden-sm hidden-xs col-md-2'>
	<div class="menu-category">
		<h5 class="title">
			Categorías
		</h5>
		<ul>
			<li>
				<a href="#">
					Combinacíones NIU				
				</a>
			</li>
			<li>
				<a href="#">
					Para Picar				
				</a>
			</li>
			<li>
				<a href="#">
					Special Rolls				
				</a>
			</li>
			<li>
				<a href="#">
					Tempura & Panko Rolls				
				</a>
			</li>
			<li>
				<a href="#">
					California Rolls				
				</a>
			</li>
			<li>
				<a href="#">
					Veggie Rolls				
				</a>
			</li>
			<li>
				<a href="#">
					Sashimis & Ceviches				
				</a>
			</li>
			<li>
				<a href="#">
					Chirashis				
				</a>
			</li>
			<li>
				<a href="#">
					Hosomaki & Nigiri				
				</a>
			</li>
			<li>
				<a href="#">
					Salsas Extras				
				</a>
			</li>
			<li>
				<a href="#">
					Postres & Bebidas				
				</a>
			</li>
			<li>
				<a href="#">
					Eventos y Cumpleaños				
				</a>
			</li>
		</ul>
	</div>
</div>